*{
font-family: Sans-serif
  @keyframes slidein {
  from {
    transform: translateX(0%);
    opacity: 0.0
  }

  to {
    transform: translateX(100%);
    opacity: 1.0
  }
}
}
body{
 background color: "black"
}
button{
 border-type: "outset";
  border-weight: 15px;
  border-radius: 50px;
  border-color: 151515
}
